{% extends "layout.html" %}
{% block content %}
    {{ current_user.company}}
    {{ current_user.classes}}

    {% if current_user.classes.count == 0 %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <p class="mr-2" href="#">You don't have any classes</p>
            </div>
            <h2><a class="article-title" href="#"></a></h2>
          </div>
        </article>
    {% else %}
        {% for class in current_user.classes %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ class.description }}</a>
              <span class="badge badge-info">{{ class.introduction }}</span>
                <form class="float-right" action="{{ url_for('get_class', class_id=class.id) }}" method="GET">
                    <button type="submit" class="btn btn-info btn-sm float-right" >Study</button>
                </form>
            </div>
            <h2><a class="article-title" href="#">Content</a></h2>
              <p>{{ class.content }}</p>
            <h2>Outcome</h2>
              <p>{{ class.outcome }}</p>
            <h2>Lecturer</h2>
              <p>{{ class.lecturer }}</p>
            <h2>Share</h2>
              <p>{{ class.share }}</p>
            <h2>Recipe</h2>
              <p>{{ class.recipe }}</p>
          </div>
        </article>
    {% endfor %}
    {% endif %}
{% endblock content %}