{% extends "layout.html" %}
{% block content %}

    {% if classes|length == 0 %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <p class="mr-2" href="#">You don't have any classes</p>
            </div>
            <h2><a class="article-title" href="#"></a></h2>
          </div>
        </article>
    {% else %}
        {% for class in classes %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('intro', class_id=class.clas.id) }}">{{ class.clas.description }}</a>
                {% if class.mark==0 %}}
                <form class="float-right" action="{{ url_for('get_class', class_id=class.clas.id) }}" method="GET">
                    <button type="submit" class="btn btn-info btn-sm float-right" >Study</button>
                </form>
                {% else %}
                <form class="float-right " action="#" method="GET">
                    <button type="submit" class="btn btn-danger btn-sm float-right disabled" >Finished</button>
                </form>
                {% endif %}
            </div>
            <h2>Mark</h2>
              <h3 class="text-success">{{ class.mark }}</h3>
          </div>
        </article>
    {% endfor %}
    {% endif %}
{% endblock content %}