{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Demography Reconstruction</h1>
        <p class="lead">This is a simple website that reconstructs the user demographic information based on the movie ratings.</p>
        <hr class="my-4">
        <p>To use this website properly, you need to register first and vote at least five movies to get the demography prediction.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ url_for('about') }}" role="button">Learn more</a>
        </p>
    </div>
{% endblock content %}