{% extends "layout.html" %}
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Category</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mental
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
          {% if c[0]|length == 0 %}
            <a class="dropdown-item" href="#">N/A</a>
            {% else %}
              {% for course in c[0] %}
                <a class="dropdown-item" href="{{ url_for('intro', class_id=course.id) }}">{{ course.description }}</a>
                <div class="dropdown-divider"></div>
              {% endfor %}
            {% endif %}

        </div>
      </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Physical
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          {% if c[1]|length == 0 %}
            <a class="dropdown-item" href="#">N/A</a>
            {% else %}
              {% for course in c[1] %}
                <a class="dropdown-item" href="{{ url_for('intro', class_id=course.id) }}">{{ course.description }}</a>
                <div class="dropdown-divider"></div>
              {% endfor %}
            {% endif %}
        </div>
      </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Verbal
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                      {% if c[2]|length == 0 %}
            <a class="dropdown-item" href="#">N/A</a>
            {% else %}
              {% for course in c[2] %}
                <a class="dropdown-item" href="{{ url_for('intro', class_id=course.id) }}">{{ course.description }}</a>
                <div class="dropdown-divider"></div>
              {% endfor %}
            {% endif %}
        </div>
      </li>
    </ul>
  </div>
</nav>
    <div class="jumbotron">
        <h1 class="display-4">{{ current_user.owner.name }}</h1>
        <p class="lead">Welcome to {{ current_user.owner.name }} Online Training System</p>

        <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ url_for('classs') }}" role="button">My Class List</a>
        </p>
    </div>
{% endblock content %}