{% extends "layout.html" %}
{% block content %}


                <div class="row ">
                        <div class="jumbotron col-md-12">
                            <div class="container ">
                            <h1 class="display-4">Description: {{ c.description }}</h1>
                            <hr class="my-4">

                        <h2>Introduction</h2>
                          {% for intro in c.introduction.split('::') %}
                            <p>{{ intro }}</p>
                          {% endfor %}
                        <h2>Content</h2>
                          {% for content in c.content.split('::') %}
                            <p>{{ content }}</p>
                          {% endfor %}
                        <h2>Expected Learning Outcomes</h2>
                          {% for outcome in c.outcome.split('::') %}
                            <p>{{ outcome }}</p>
                          {% endfor %}
                        <h2>Lecturer Introduction</h2>
                          <p>{{ c.lecturer }}</p>
                        <h2>Sharing</h2>
                          <p>{{ c.share }}</p>
                        <h2>Recipe</h2>
                          <p>{{ c.recipe }}</p>

                            <p class="lead">
                                {% if enrolled %}
                                    {% if mark != 0 %}
                                        <a class="btn btn-Seconary btn-lg" href="#" role="button">Mark: {{ mark }}</a>
                                    {% else %}
                                        <a class="btn btn-primary btn-lg" href="{{ url_for('get_class', class_id=c.id) }}" role="button">Study</a>
                                    {% endif %}
                                {% else %}
                                    <a class="btn btn-success btn-lg" href="{{ url_for('get_class', class_id=c.id) }}" role="button">Enroll</a>
                                {% endif %}
                            </p>
                        </div>
                        </div>
                </div>
{% endblock content %}