{% extends "layout.html" %}
{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Course Description</th>
      <th scope="col">Limit Time</th>
    </tr>
  </thead>
  <tbody>
  {% for course in tests %}
      <tr>
          <th scope="row">{{ course.description }}</th>
          <td >
          <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ course.limit_time }} Mins
            </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('change_time', clas_id=course.id, minutes=30) }}">30 Mins</a>
              <a class="dropdown-item" href="{{ url_for('change_time', clas_id=course.id, minutes=60) }}">60 Mins</a>
              <a class="dropdown-item" href="{{ url_for('change_time', clas_id=course.id, minutes=90) }}">90 Mins</a>
              <a class="dropdown-item" href="{{ url_for('change_time', clas_id=course.id, minutes=120) }}">120 Mins</a>
          </div>
          </div>
              </td>
      </tr>
  {% endfor %}
      <tr>
      <td colspan="2" class="text-center"><a class="btn btn-success" data-toggle="modal" data-target="#exampleModal" href="#" role="button">Add Course</a></td>
    </tr>
  </tbody>
</table>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="form">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {% if form.category.errors %}
                        {{ form.category.label(class="form-control-label") }}
                        {{ form.category(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            <span>You have to choose the category</span>
                        </div>
                    {% else %}
                        {{ form.category.label(class="form-control-label") }}
                        {{ form.category(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.description.label(class="form-control-label ") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid autofocus") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.introduction.label(class="form-control-label") }}
                    {% if form.introduction.errors %}
                        {{ form.introduction(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.introduction.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.introduction(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {% if form.content.errors %}
                        {{ form.content.label(class="form-control-label") }}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content.label(class="form-control-label") }}
                        {{ form.content(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {% if form.outcome.errors %}
                        {{ form.outcome.label(class="form-control-label") }}
                        {{ form.outcome(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.outcome.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.outcome.label(class="form-control-label") }}
                        {{ form.outcome(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

            <div class="form-group">
                    {% if form.lecturer.errors %}
                        {{ form.lecturer.label(class="form-control-label") }}
                        {{ form.lecturer(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lecturer.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lecturer.label(class="form-control-label") }}
                        {{ form.lecturer(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

            <div class="form-group">
                    {% if form.share.errors %}
                        {{ form.share.label(class="form-control-label") }}
                        {{ form.share(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.share.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.share.label(class="form-control-label") }}
                        {{ form.share(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

            <div class="form-group">
                    {% if form.video_link.errors %}
                        {{ form.video_link.label(class="form-control-label") }}
                        {{ form.video_link(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.video_link.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.video_link.label(class="form-control-label") }}
                        {{ form.video_link(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}