{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <h4>Course description: {{ c.description }}</h4>
        <h5>Course introduction: {{ c.introduction }}</h5>

        <hr class="my-4">        <h4>Lecture Video</h4>

<iframe width="800" height="400"
src="{{ c.video_link}}">
</iframe>
        <br>
        <br>
        <h3>Progress: </h3>

<div class="progress">
 {% set progress=range(1, 100) | random %}
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:{{ progress }}%">{{ progress }}%</div>
</div>
        <br>
        <br>
        <p class="lead">
        <a class="btn btn-info btn-primary btn-lg" href="{{ url_for('exam', type='mock', class_id=c.id) }}" role="button">Mock Exam</a>
            <a class="btn btn-danger btn-primary btn-lg" href="{{ url_for('exam', type='actual', class_id=c.id) }}" role="button">Test</a>
        </p>
    </div>
{% endblock content %}
